<ion-content [fullscreen]="true">
    <ion-header class="ion-no-border">
        <ion-toolbar>
            <div class="ion-margin logo-glitch">
                <div class="example-one" data-text="PANDEMIC">PANDEMIC</div>
                <div class="example-two" data-text="Delivery">Delivery</div>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar>
        <ion-title class="ion-text-center ion-text-uppercase">
            Em Promoção
        </ion-title>
    </ion-toolbar>

    <ion-slides [options]="sliderConfig" #slide1>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="truncate">
                        Descição do produto que esta comprando
                    </p>
                    <br>
                    <p>
                        <span>R$ 10,00</span> | <s>R$ 20,00</s>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-toolbar>
        <ion-title class="ion-text-center ion-text-uppercase">
            Destaques
        </ion-title>
    </ion-toolbar>

    <ion-slides [options]="sliderConfig" #slide2>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-toolbar>
        <ion-title class="ion-text-center ion-text-uppercase">
            Categorias
        </ion-title>
    </ion-toolbar>

    <ion-slides [options]="sliderConfig" #slide2>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://via.placeholder.com/300x300" />
                <ion-card-header>
                    <ion-card-title>Batata Frita</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-toolbar>
        <ion-title class="ion-text-center ion-text-uppercase">
            Estabelecimentos
        </ion-title>
    </ion-toolbar>

    <ion-button (click)="toggleInfiniteScroll()" expand="block">
        Toggle Infinite Scroll
    </ion-button>

    <ion-list>
        <ion-list-header>
            <ion-label>Filter</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let item of establishments">
            <ion-thumbnail slot="start">
                <ion-img [src]="item.thumbnail" [alt]="item.name"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h3>{{ item.name }}</h3>
                <p>{{ item.address }} - {{ item.number }}</p>
                <p class="truncate">{{ item.description }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>