<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <ion-card *ngIf="user$ | async as user">
    <ion-card-content>
      {{ user.name }} - {{ user.email }} --- {{ user.roles[0].name }}
    </ion-card-content>
  </ion-card>
 
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
</ion-content>
